/* index.html regel 14 t/m 44 
komt nu overeen met
CSS.css regel 5 t/m regel 79 */
/* The side nav. menu */
.row {
  margin-left:-5px;
  margin-right:-5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: start;
  width: 50%;
  padding: 5px;
}

.menu_bar {
  background-color: black;
  width: 10px;
  text-align: center;
  border-radius: 25px;
 }

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 40px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content;
use this if you want to push the page content
to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  color: white;
}

.logo {
  display: block;
  width:170px;
}

/* ----------------------------------------------------------------------------------------*/

/*media control menu
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

  @media screen and (max-width: 600px) {
    .text_left {
      width: 100%;
    }
    .index_text {
      font-size: 36px;
    }
  }

  /* Light mode */
  @media (prefers-color-scheme: light) {
    body {
      background-color: white;
      /*color: white; als het nodig is zet je dit aan */
    }
    
    .div3 {
      background-color: black;
      border-radius:25px; 
    }

    .introtekst{
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      background-color: rgba(3, 78, 170, 0.60);
      text-align: center;
      color: whitesmoke;
    }

    .introtekst2{
      color: white;
      text-align: center;
    }

    .flex-container {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      /*color: white; als het nodig is zet je dit aan */
    }

    .introtekst {
      border-radius: 25px;
      color: whitesmoke;
      text-align: center;
      background-color: rgba(3, 78, 170, 0.60);
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    .introtekst2 {
      color: white;
      text-align: center;
    }
  }

  /* --------------------------------------------------------------------------------*/
  /* Hello img, is enkel op index.html */
  .hello-img {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width:20%
  }

