/* RTL SETTINGS ONLY */
/* The side navigation menu */
.sidenav {
  right: 0;
}

#main {
  transition: margin-start .5s;
}

h2.Text1-RTL-right {
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
  border-top: 3px dotted lightskyblue;
  border-left: 3px dotted lightskyblue;
  border-right: 3px dotted lightskyblue;
}

h3.Text2-RTL-right {
  text-align: start;
  margin-left: 20px;
  width: 600px;
  margin-right: 20px;
  border-left: 3px dotted lightskyblue;
  border-right: 3px dotted lightskyblue;
  border-bottom: 3px dotted lightskyblue;
}

.turkije {
  float: end;
  max-width: 100%;
  margin-top: 20px;
  border: 3px solid red;
  border-radius: 25px;
}

.greek{
  float: end;
  max-width: 100%;
  margin-bottom: 140px;
  border: 3px solid red;
  border-radius: 25px;
}

/* media settings */
@media screen and (max-width: 600px) {
}

/* Light mode */
@media (prefers-color-scheme: light) {
.introtekst{
  border-radius: 25px;
  /*over-rules css.css */
}

.introtekst2{
  color: white;
  padding-bottom: 20px;
  /*over-rules css.css */
}

h2.Text1-RTL-right {
  color:black;
}

h3.Text2-RTL-right {
  color:black;
}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
h2.Text1-RTL-right {
  color:white;
}
h3.Text2-RTL-right {
  color:white;
}
}