
/* nav menu total settings for RTL only */
/*sidenav */
.row_RTL {
  margin-left:-5px;
  margin-right:-5px;
}

/* Clearfix (clear floats) */
.row_RTL::after {
  content: "";
  clear: both;
  display: table;
}

.column_RTL {
  float: start;
  width: 50%;
  padding: 5px;
}

.menu_link_RTL {
  color: white;
  text-align: center;
  line-height: 1.5;
}

.table_menu_RTL {
  margin-right: end;
  margin-left: start;
}

.menu_bar_RTL {
 background-color: black;
 width: 10px;
 text-align: center;
 border-radius: 25px;
}

/* The side navigation menu */
.sidenav_RTL {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 40px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
.sidenav_RTL a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav_RTL a:hover {
  color: #f1f1f1;
}

  /* Position and style the close button (top right corner) */
.sidenav_RTL .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content;
use this if you want to push the page content
to the right when you open the side navigation */
#main_RTL {
  transition: margin-left .5s;
  padding: 20px;
  color: white;
}

.logo_RTL {
  display: block;
  width:170px;
}

/* media settings */
@media screen and (max-width: 600px) {
/*.text_left_table_right {
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
    }*/
  }

/*div.static {
  position: static;
  border: 3px solid #73AD21;
}*/

/*.text_left_table_right {
  width: 100%;
  margin-right: start;
  margin-left: end;
  }*/

.informatie_northgo_travels_RTL {
  text-align: start;
  width: 100%;
  margin-left: start;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }