/* LTR SETTINGS ONLY */
/* specifieke LTR instellingen */

h2.Text1-LTR-left {
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
  border-top: 3px dotted lightskyblue;
  border-left: 3px dotted lightskyblue;
  border-right: 3px dotted lightskyblue;
}

h3.Text2-LTR-left {
  text-align: start;
  margin-left: 20px;
  width: 600px;
  margin-right: 20px;
  border-left: 3px dotted lightskyblue;
  border-right: 3px dotted lightskyblue;
  border-bottom: 3px dotted lightskyblue;
}

.turkije {
  float: end;
  max-width: 100%;
  margin-top: 20px;
  border: 3px solid red;
  border-radius: 25px;
}

.greek{
  float: end;
  max-width: 100%;
  margin-bottom: 140px;
  border: 3px solid red;
  border-radius: 25px;
}

/* Media control menu (soms aangepast voor LTR: *zie over-rules* */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .introtekst{
    border-radius: 25px;
    /*over-rules css.css */
  }
  h2.Text1-LTR-left {
    color:black;
  }
  h3.Text2-LTR-left {
    color:black;
  }
  .introtekst2{
    color: white;
    padding-bottom: 20px;
    /*over-rules css.css */
  }
}

@media (prefers-color-scheme: dark) {
  .introtekst {
    color: white;
  }
  
  h2.Text1-LTR-left {
    color:white;
  }
  h3.Text2-LTR-left {
    color:white;
  }
}

